<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Moonlander Game for Escape from /dev/null by github:mpj, github:chhib, github:linusu </title>
	</head>
	<body>
		<script src="/javascripts/vector.js"></script>
		<script src="/javascripts/segment.js"></script>
		<script src="/javascripts/canvas_application.js"></script>
		
		<!-- only done once, not part of render loop -->
		<script src="/javascripts/draw_background.js"></script>

		<script src="/javascripts/client.js"></script>

		<!-- Updaters -->
		<script src="/javascripts/update_lander.js"></script>

		<!-- Renderers -->
		<script src="/javascripts/render_lander.js"></script>

		<script src="/javascripts/main_loop.js"></script>
	</body>
</html>